<div class="card" style="background-color:rgba(255, 255, 128, .5); border-color:darkblue;">
  <img class="card-img-top" src="holder.js/100x180/" alt="Title">
    <h4 class="card-title">Redes Sociales</h4>
    <h7 class="card-title">Instagram: /fundacion.entrenosotras</h7>
    <h7 class="card-title">Facebook: /FundacionEntreNosotras</h7>
    <h7 class="card-title">Teléfono de contacto: 0373546-4287</h7>
    <h7 class="card-title">Email: entrenosotras.org@gmail.com</h7>
    <p class="card-text"><strong>Villa Angela - Chaco - Argentina</strong></p>
  </div>
</div>